
<%= link_to "New Group", new_group_path %>
<div class="container">
  <% @groups.each do |group| %>
  <div class="row">
    <div class="col">
      <%= image_tag group.icon.url, class: "img-thumbnail" if group.icon? %>
    </div>
    <div class="col-6">
      <%= group.name %><br>
      <%= group.created_at %>

    </div>
    <div class="col">
    <td><%= link_to "Show", group %></td>
        <td><%= link_to "Edit", edit_group_path(group) %></td>
        <td><%= link_to "Destroy", group, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </div>
  </div>
  <hr>
  <% end %>
</div>