
<p>
  <strong>Icon:</strong>
      <%= image_tag @group.icon.url, class: "img-thumbnail", alt: "icon" if @group.icon? %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @group.created_at.strftime("%B %d %Y, %l:%M%P") %>
</p>

<div class="container">
<% if @group.expenses.any? %>
<p>All Expenses for <%= @group.name %></p>
  <% @group.expenses.each do |expense| %>

  <div class="row alert alert-info">
    <div class="col">
        <%= link_to expense do %>
        <h3 class="text-muted"> <%= expense.name.capitalize %></h3>

    </div>
    <div class="col-6">
      <p class="text-muted"><%= expense.created_at.strftime("%B %d %Y") %><small class="text-muted"> by <%= expense.user.name %></small></p>
    </div>
    <% end %>
    <div class="col">
      <p>$<%= expense.amount %></p><br>
      <%= link_to "Show", expense %>
      <% if current_user.id == expense.user.id %>
      <%= link_to "Edit", edit_expense_path(expense) %>
      <%= link_to "Destroy", expense, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
  <hr>
  <% end %>
  <% else %>
  <p>There are currently no expenses associated with this group.</p>
  <% end %>
</div>
<%= link_to "Back", groups_path, class: "btn btn-info m-2" %>
