<%= link_to "Add New", new_expense_path, class: "btn btn-info" %>
<div class="container">
  <div class="row">
     <div class="col">
    Total Expenses
  </div>
   <div class="col-6">
    
  </div>
   <div class="col">
     <% @expenses.first(1).each do |expense| %>
    <p>$<%= expense.total_expense %></p>
    <% end %>
  </div>
  </div>
  <hr>
  <% @expenses.each do |expense| %>

  <div class="row">
    <div class="col">
      <%= image_tag expense.group.icon.url, class: "img-thumbnail" if expense.group.icon? %>
    </div>
    <div class="col-6">
      <%= expense.name %><br>
      <%= expense.created_at.strftime("%B %d %Y, %l:%M%P") %>

    </div>
    <div class="col">
      <p>$<%= expense.amount %></p><br>
      <%= link_to "Show", expense %>
      <%= link_to "Edit", edit_expense_path(expense) %>
      <%= link_to "Destroy", expense, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
  <hr>
  <% end %>
</div>