<%= link_to "Add New", new_expense_path, class: "btn btn-light m-2" %>
<hr>
<div class="container btn-light">
  <div class="row alert alert-secondary">
     <div class="col-4">
    Total Expenses
  </div>
   <div class="col-6">
    
  </div>
   <div class="col">
     <% @expenses.first(1).each do |expense| %>
    <p>$<%= expense.total_expense %></p>
    <% end %>
  </div>
  </div>
  <% @expenses.each do |expense| %>

  <div class="row alert alert-secondary">
    <div class="col-4">
      <%= link_to expense do %>
      <% if expense.group.icon? %>
      <%= image_tag expense.group.icon.url, class: "img-thumbnail float-left", alt: "icon" if expense.group.icon? %>
    <% else %>
    <p>None</p>
    <% end %>
    </div>
    <div class="col-12">
      <h3 class="text-muted"><%= expense.name.capitalize %></h3><br>
      <p class="text-muted"><small><%= expense.created_at.strftime("%B %d %Y, %l:%M%P") %></small></p>
    </div>
    <% end %>
    <div class="col">
      <p>$<%= expense.amount %></p><br>
      <% if current_user.id == expense.user.id %>
      <%= link_to "Edit", edit_expense_path(expense) %>
      <%= link_to "Delete", expense, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    </div>
  </div>
  <% end %>
</div>